.Name{
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 50px;
    border-radius: 10px;
    background-color: #919191
}
.about{
    text-align: center;
    font-display: bold;
}

.photo1{
    margin-left: 50px;
    margin-top: 100px;
    display: inline-block;
}
.photo2{
    margin-left: 75px;
}

.photo3{
    margin-left: 50px;
    margin-top: 150px;
}

.photo4{
    margin-left: 50px
}

.photo5{
    margin-left: 150px
}

.photo6{
    margin-left: 200px
}

.photo100px{
    margin-left: 100px
}
.project1{
    margin-block-start: auto;
}

.P1A{
    margin-left: 50px;
    display: inline;
}

.P1B{
    margin-left: 600px;
    display: inline;
}
.P1C{
    margin-left: 350px;
    display: inline;
}


.P2B{
    margin-left:590px;
    display: inline;
}

.P2C{
    margin-left:350px;
    display: inline;
}
.P2D{
    margin-left:450px;
    display: inline;
}
.P3C{
    margin-left:250px;
    display: inline;
}

.contact{
    display: inline;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 50px;
    background-color: rgb(131, 131, 131)
}

.project {
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.description{
    margin-left: 50px;
}

.group{
  
    margin-bottom: 20px;
    border-radius: 10px;
 
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(193, 193, 193, 0.853)
}

