.Name{
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 50px;
    background-color: rgb(128, 128, 128)
}
.about{
    text-align: center;
    font-display: bold;
}

.photo1{
    margin-left: 50px;
    margin-top: 100px;
    display: inline-block;
}
.photo2{
    margin-left: 75px;
}

.photo3{
    margin-left: 50px;
    margin-top: 150px;
}

.photo4{
    margin-left: 50px
}

.project1{
    margin-block-start: auto;
}

.P1A{
    margin-left: 50px;
    display: inline;
}

.P1B{
    margin-left: 540px;
    display: inline;
}
.P1C{
    margin-left: 550px;
    display: inline;
}


.P2B{
    margin-left:490px;
    display: inline;
}

.P2C{
    margin-left:250px;
    display: inline;
}

.contact{
    display: inline;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 50px;
    background-color: rgb(128, 128, 128)
}